<div class="flex justify-between glass p2">
  <div class="flex items-center no-border">
    <app-nav-bar></app-nav-bar>
  </div>
  <!--<div class="flex g8 items-center justify-center">
    <span class="e-user e-icons font-18 tcPrimaryText"></span>
    <span class="e-brightness e-icons font-18 tcPrimaryText"></span>
    <span class="e-icons e-callout font-18 tcPrimaryText"></span>
  </div>-->
  <div class="flex items-center no-border">
    <button ejs-button cssClass="e-flat" iconCss='e-icons e-user' iconPosition="Left"></button>
    <button ejs-button cssClass="e-flat" iconCss='e-icons e-brightness' iconPosition="Left"></button>
    <button ejs-button cssClass="e-flat" iconCss='e-icons e-contrast' iconPosition="Left"></button>
  </div>
</div>
