<!--<div>
    <ejs-tooltip #profiletooltip id="profiletooltip" opensOn='Hover' [width]="tootWidth" position='BottomLeft' [showTipPointer]='false' [cssClass]="class"  [closeDelay]=250>
        <ng-template #content>
            <div class="flex-vertical bcPrimary">
                <div class="flex-horizontal flex-align-center p8">
                    <app-user-tag [name]="currentUserInfo!.Name" [email]="currentUserInfo!.Email" [width]="profileWidth"></app-user-tag>
                </div>
                <div class="flex-vertical border-top p5 pl0 pr0">
                    <div class="flex-horizontal flex-align-center height40 bg-primary-hover pl-10 br-6" (click)="changeTheme()">
                        <div class="font-16 bi-icons sf-icon-theme-switch mr8"></div>
                        <p class="font-14 font-500 tc3 p5 cursor-pointer">Change theme</p>
                    </div>-->
                    <!--<div class="flex-horizontal flex-align-center height40 bg-primary-hover pl-10 br-6" (click)="moveToSetting()">
                        <div class="setting-icon background-icon profile-icon-coordinate mr8"></div>
                        <p class="font-14 font-500 tc3 p5 cursor-pointer">Settings</p>
                    </div>-->
                    <!--<div class="flex-horizontal flex-align-center height40 bg-primary-hover pl-10 br-6" (click)="logout()">
                        <div class="font-16 bi-icons sf-icon-user mr8"></div>
                        <p class="font-14 font-500 tc3 p5 cursor-pointer">Sign Out</p>
                    </div>
                </div>
            </div>
        </ng-template>
        <app-user-tag [name]="currentUserInfo!.Name" [showAdditionalInfo]=false [width]=42></app-user-tag>
    </ejs-tooltip>
</div>-->
