@import url('colour.css');
:root {
  --gap-1: .5rem;
  --gap-2: 1rem;
  --gap-3: 2rem;
  --gap-4: 4rem;
  --shadow-1: 0 1px 3px 0 var(--color-sf-shadow-color), 0 1px 2px 0 var(--color-sf-shadow-color);
  --shadow-2: 0 4px 8px -2px var(--color-sf-shadow-color, .1), 0 2px 4px -2px rgba var(--color-sf-shadow-color);
  --shadow-3: 0 12px 16px -4px var(--color-sf-shadow-color, .08), 0 4px 6px -2px var(--color-sf-shadow-color);
  --shadow-4: 0 32px 64px -12px var(--color-sf-shadow-color);
  /*Glass Desing*/
  --glass-bg: 0 0% 100%;
  --glass-border: 240 10% 85%;
  --glass-shadow: 240 10% 15%
}

.e-dark-mode {
  --glass-bg: 240 10% 12%;
  --glass-border: 240 10% 25%;
  --glass-shadow: 0 0% 0%
}

/* Background color classes */
.bcPrimary {
  background-color: var(--color-sf-content-bg-color);
}

.bcPrimary-h:hover {
  background-color: var(--color-sf-content-bg-color-hover);
}
.bcSecondary {
  background-color: var(--color-sf-content-bg-color-alt1);
}
.bcSecondary-h:hover {
  background-color: var(--color-sf-content-bg-color-hover);
}
.bcTertiary {
  background: var(--color-sf-content-bg-color-alt2);
}
.bcAlternate {
  background-color: var(--color-sf-content-bg-color-alt1);
}
.bcBrand {
  background-color: var(--color-sf-primary);
}
.bcSelected {
  background: var(--color-sf-content-bg-color-selected);
}
.bcDisabled {
  background: var(--color-sf-content-bg-color-disabled);
}
.transparent {
  background-color: transparent !important;
}

/* Text color classes */
.tcPrimaryText, p {
  color: var(--color-sf-content-text-color);
}
.tcSecondaryText {
  color: var(--color-sf-content-text-color-alt1) !important;
}
.tcTertiaryText {
  color: var(--color-sf-content-text-color-alt2) !important;
}
.tcQuaternaryText {
  color: var(--color-sf-content-text-color-alt3) !important;
}
.tcBrand {
  color: var(--color-sf-primary) !important;
}
.tcSuccess {
  color: var(--color-sf-success);
}
.tcError {
  color: var(--color-sf-danger) !important;
}
.tcWarning {
  color: var(--color-sf-warning) !important;
}
.tcInfo {
  color: var(--color-sf-info) !important;
}
.tcPrimaryText-hover:hover {
  color: var(--color-sf-content-text-color-hover) !important;
}
.tcPrimaryText-focus:focus {
  color: var(--color-sf-content-text-color-focus) !important;
}
.placeholder-color,
::placeholder {
  color: var(--color-sf-placeholder-text-color);
}

/* Borders */
.border-bottom {
  border-bottom: 1px solid var(--color-sf-border);
}

.border-top {
  border-top: 1px solid var(--color-sf-border);
}

.border-right {
  border-right: 1px solid var(--color-sf-border);
}

.border-left {
  border-left: 1px solid var(--color-sf-border);
}

.border {
  border: 1px solid var(--color-sf-border);
}

.border-brand {
  border: 1px solid var(--color-sf-primary);
}

.border-error {
  border: 1px solid var(--color-sf-border-error);
}

.border-success {
  border: 1px solid var(--color-sf-border-success);
}

.border-light {
  border: 1px solid var(--color-sf-border-light);
}

.border-disable {
  border: 1px solid var(--color-sf-border-disabled);
}

.border-bottom-light {
  border-bottom: 1px solid var(--color-sf-border-light);
}

.border-left-light {
  border-left: 1px solid var(--color-sf-border-light);
}

.border-right-light {
  border-right: 1px solid var(--color-sf-border-light);
}

/* Usage classes */



.bs1 {
  box-shadow: var(--shadow-1);
}

.bs2 {
  box-shadow: var(--shadow-2);
}

.bs3 {
  box-shadow: var(--shadow-3);
}

.bs4 {
  box-shadow: var(--shadow-3);
}

.box-sizing {
  box-sizing: border-box;
}

/*// End shadow*/
.g1 {
  gap: var(--gap-1);
}

.g2 {
  gap: var(--gap-2);
}

.g3 {
  gap: var(--gap-3);
}

.g4 {
  gap: var(--gap-4);
}

.glass {
  background: hsl(var(--glass-bg) / .7);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid hsl(var(--glass-border) / .2);
  border-radius: 1rem;
  box-shadow: 0 8px 32px hsl(var(--glass-shadow) / .1)
}

/*//ScrollBar Design*/
/* For Chrome, Safari, and Opera  , For Internet Explorer and Edge*/
/*::-webkit-scrollbar, *::-ms-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track, *::-ms-scrollbar-track {
  background: $bg-tertiary;
}

::-webkit-scrollbar-thumb, *::-ms-scrollbar-thumb {
  background: $fg-quarterary;
}*/
/* For Firefox */
/** {
  scrollbar-width: thin;
  scrollbar-color: $fg-quarterary $bg-tertiary;
}*/

/* Hide scrollbar*/
.hide_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

  .hide_scrollbar::-webkit-scrollbar {
    display: none;
  }
