/* Begin Aligment */
.align-right {
  float: right;
  margin-left: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* End Alignment */

/* Begin Overflow */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

.hide-overflow {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.vertical-scroll-on-overflow {
  overflow-y: scroll;
}

.horizontal-scroll-on-overflow {
  overflow-x: scroll;
}
/* End Overflow */

/*Begin Font */
.bold {
  font-weight: bold;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-24 {
  font-size: 24px;
}

.font-35 {
  font-size: 35px;
}

.font-45 {
  font-size: 45px;
}
/* End Font */

/* Begin % width, height */

.wd-30 {
  width: 30%;
}

.wd-40 {
  width: 40%;
}

.wd-45 {
  width: 45%;
}

.wd-50 {
  width: 50%;
}

.wd-60 {
  width: 60%;
}

.wd-80 {
  width: 80%;
}

.wd-90 {
  width: 90%;
}

.wd-20 {
  width: 20%;
}

.wd-40 {
  width: 40%;
}

.wd-35 {
  width: 35%;
}

.wd-100 {
  width: 100%;
}

.view-port-full-width {
  width: 100vw;
}

.wd-max-content {
  width: max-content;
}

.h-100 {
  height: 100%;
}

.view-port-full-height {
  height: 100vh;
}

.height-max-content {
  height: max-content;
}

/* End % width, height */

/* Begin Border */
.br8 {
  border-radius: 8px;
}

.br12 {
  border-radius: 12px;
}

.br4 {
  border-radius: 4px;
}

.br6 {
  border-radius: 6px;
}

.no-border-radius {
  border-radius: 0 !important;
}
/* End Border */

/* Begin Static css */
.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.dont-select {
  user-select: none;
}

.no-padding {
  padding: 0 !important;
}

.no-radius {
  border-radius: 0 !important;
}

.no-border,
.no-border:focus {
  border-width: 0 !important;
}

.no-margin {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


/*.g12 {
  gap: 12px;
}

.g5 {
  gap: 5px;
}

.g8 {
  gap: 8px;
}

.g10 {
  gap: 10px;
}

.g16 {
  gap: 16px;
}

.g24 {
  gap: 24px;
}
    */
