@import "./styles/colour.css";
@import "./styles/core.css";
@import "./styles/mediaQuery.scss";
@import "./styles/overWrite.scss";

/* Provide sufficient contrast against white background */
body {
  margin: 0;
  font-family: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",arial,"Noto Sans","Liberation Sans",sans-serif,"apple color emoji","Segoe UI emoji","Segoe UI Symbol","Noto color emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


/*Need to add global styles here specifc scrollbar styles*/
